
<%= form_for(@casestorry, :html => { :multipart => true },:html => { :id => 'upload_form' }) do |f| %>
	<div class="grid_12">
		<% if @casestorry.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@casestorry.errors.count, "error") %> prohibited this casestorry from being saved:</h2>
				
				<ul>
				<% @casestorry.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
	</div>

	<div class="grid_12">
		<div class="field">
			<%= f.label :title %><br/>
			<%= f.text_field :title %>
			
		</div>
	</div>
	<div class="grid_12">
		<div class="grid_3 alpha ">		
			<div class="field">
			    <%= f.label :body%><br />
			 	<textarea cols="26" id="casestorry_body" name="casestorry[body]" rows="48"><%= @casestorry.body %></textarea>
				
			</div>
			
			<div class="field">
			  <%= f.label :category %><br />
			  <%= f.select(:category, Casestorry::CATEGORY)%>
			</div>
			
			<div class="field">
				
			  <%#= f.label :category %><br />
			  <%#= f.text_field :category %>
			</div>
			<div class="field">
			  	<%= t('illustration.image')%><br />
				<%= f.file_field :image %>
			</div>
			
		</div>
		<div class="grid_9 omega">			

			<%= image_tag @casestorry.image.url(:full) %><br/>

		</div>	
	</div>
			
		
	<div class="grid_12">		
		<div class="actions">
		  <%= f.submit t('admin.save') %>
		</div>
	</div>
<% end %>



<script type="text/javascript">// <![CDATA[
  $(document).ready(function() {
    uploadify_form('#upload_form');
  });
// ]]></script>

