<div class='grid_12'>

	<h1>Listing casestorries</h1>
	
	
	<% @casestorries.each do |casestorry| %>
		
		<div class='grid_3 alpha'>
	
		<%= image_tag casestorry.image.url(:thumbnail) %><br/>sd
		<%= casestorry.title %>
		<%= casestorry.body %>
		<%= casestorry.category %>
		
	
		<%= link_to 'Show', casestorry %> | 
		<%= link_to 'Edit', edit_casestorry_path(casestorry) %> | 
		<%= link_to 'Destroy', casestorry, :confirm => 'Are you sure?', :method => :delete %>
		</div>
	<% end %>
	
	
	<br />

<%= link_to 'New Casestorry', new_casestorry_path %>
</div>


