<div class='grid_12'>
	<p id="notice"><%= notice %></p>
</div>


<div class='grid_12'>
	<div class='grid_3 alpha'>
		<h4>
			<%= @casestorry.title %>
		</h4>
	
		<p>
			<%= @casestorry.body %>
		</p>
	</div>
	<div class='grid_9 omega'>
		<%= image_tag @casestorry.image.url(:full) %><br/>
	</div>	
</div>

<% if can?(:manage, Casestorry)%>
	<div class='grid_12'>
		<%= link_to 'Edit', edit_casestorry_path(@casestorry) %> |
		<%= link_to 'Back', casestorries_path %>
	</div>
<%end%>
