<%if user_signed_in? && current_user.admin_or_super?%>
	<div class="grid_12">
		<h1><%= t('admin.administration')%></h1>
	</div>
	
	<div class="grid_12">
		<div class="grid_3 alpha">
		
			<h3>User management</h3>
			<div class="top_margin_6">
				<%= link_to t('admin.users'), users_path %>
			</div>
			
			
		</div>
		<div class="grid_3">
			<h3>Site management</h3>
			<div class="top_margin_6">
				<%= link_to t('admin.illustrations'), illustrations_path %>
			</div>
			
			<div class="top_margin_6">
				<%= link_to t('admin.pages'), pages_path %>
			</div>
		</div>

		<div class="grid_3">
			<h3>Content management</h3>
				<%= link_to t('admin.cases'), casestorries_path %>
		</div>
		
		<div class="grid_3 omega">
			<h3>Development</h3>
			
		</div>
	</div>
	
	
	
<%else%>
	<%= render :partial => "shared/no_access" %>
<%end%>
