<div class="grid_12">
	<h1><%= t('user.edit_account')%></h1>
	
	<%= form_for(@user, :html => { :multipart => true },:html => { :id => 'upload_form' }) do |f| %>
	<%#= form_for(@user) do |f| %>
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this page from being saved:</h2>
	
	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
		<div class="field">
		  <%= t('user.name') %><br />
		  <%= f.text_field :name %>
		</div>
		
		<div class="field">
		  <%= f.label :email %><br />
		  <%= f.text_field :email %>
		</div>
	
		<div class="field">
		  <%= t('user.language') %><br />
		  รง
		</div>

		
		<div class="field">
			<p>Billed<br />
				<%= f.file_field :image %>
			</p>
		</div>
		
		<% unless @user.id == User.first.id %>
			<% if current_user && current_usercurrent_user.admin_or_super?  %>
				<% if current_user.super?  %>
				  Rolle: <%= f.select(:role, User::ROLES)%><br/>
				<%else%>
				  Rolle: <%= f.select(:role, User::ROLES - ['super'])%><br/>
				<%end%>
			<%end%>
		<%end%>
	
	 
	  <div class="actions top_margin_12">
	    <%= f.submit 'Gem' %>
	  </div>
	<% end %>
</div>

<script type="text/javascript">// <![CDATA[
  $(document).ready(function() {
    uploadify_form('#upload_form');
  });
// ]]></script>



