<div class="grid_12 ">
	<h1><%= @user.name %></h1>
	<%= @user.email %>
	<%if can_edit?  %>
		<br/><%= t('user.role')%>: <%= @user.role %>
		<br/><%= t('user.language')%>: <%= @user.language %>
	<%end%>

</div>
<div class="grid_12  top_margin_4">
	<%= image_tag  @user.image.url(:medium) %>
</div>
<div class="grid_12  top_margin_4">
	<%= link_to 'blog', user_blogs_path(@user)%>
</div>


<% if can?(:manage, @user)%>
	
	<div class="grid_6 suffix_6">
		<%#= link_to 'Skift adgangskode', edit_user_registration_path  %>  
		<%= link_to t('admin.edit'), edit_user_path(@user)%>
	</div>
<%end%>

