<div class="grid_12 height_32 color_white">

	<div class="grid_1 alpha">
		
		
		<%=link_to image_tag('flags/dk.png', 
							:border => 'none', 
							:class => 'image_fix'), 
							locale_path(:locale => 'dk') , 
							:method => :post%>

		<%=link_to image_tag('flags/en.png', 
							:border => 'none', 
							:class => 'image_fix'), 
							locale_path(:locale => 'en') , 
							:method => :post%>

	</div>
	<div class="grid_3 top_margin_8">
	
		<%= link_to t('navigation.home'), root_path%>
		<%if user_signed_in? && current_user.admin_or_super?%>
			| <%= link_to 'admin', admin_path%>
		<%end%> 
		 | <%= link_to t('navigation.about'), about_path%>
		 | <%= link_to t('navigation.blog'), blogs_path%>
							
	</div>
	
	<div class ="grid_8 omega  top_margin_8">
		<div class="grid_5 alpha text_right">
			<%if user_signed_in?%>
				<%= link_to current_user.email, current_user %> | 
				<%= link_to t('navigation.sign_out'), destroy_user_session_path%>
			<%else%>
				<%#= link_to 'opret konto', new_user_registration_path %> <%# uncomment this if users can sign-up themself%>
				<%= link_to t('navigation.sign_in'), user_session_path %>
			<%end%>
		</div>
		<div class="grid_3 omega ">
		<% form_tag '/search', :method => :get do %>
		    <%= text_field_tag :search %>
		    <%= submit_tag t('admin.search'), :name => nil %>

		<% end %>
		</div>

	</div>
</div>




