<div class="grid_12 height_168">
	
	<div class="grid_8 alpha">
		<%= link_to t('navigation.home'), root_path%><br>
		<%= link_to t('admin.cases'), casestorries_path %><br>
		<%= link_to t('navigation.about'), about_path%><br>
		<%= link_to t('navigation.blog'), blogs_path%><br>
		<%= link_to 'tutorials', tutorials_path%><br>
		
		
	</div>
	<div class="grid_4 omega">
		<%= image_tag 'banner_logo.png',:border => 'none', :class => 'image_fix'%>
	</div>
	
</div>